<footer>
    <nav class="crumbs">
        <ul>
            <li class="crumb"><a class="starter" href="#st">К началу</a></li>
        </ul>
    </nav>
    <span id="loadtime">сервер -  {{ loadTime }} ms </span>
</footer>